div,section{
  display: flex;
  align-items: center; 
  align-items: stretch;
}
div{
  max-width: 65vw;
}
span{
  border: 1px solid black;
  text-align: center;
}
.week{
flex-direction: row;
}
.notes{
  flex-direction: column;
}
.notes>span{
  height: 100px;
}
.week>span{
  height: 40px;
}
span.order{
  flex-direction: row;
  flex: 1 0 auto;
}
html{
  box-sizing: border-box;
}