* {
  box-sizing: border-box;
}

.container,
.week,
.notes {
  display: flex;
  align-items: center;
}

.container {
  max-width: 65vw;
}

span {
  border: 1px solid black;
}

.notes {
  flex-direction: column;
}