body {
  background-color: rgb(238, 238, 238);
  margin: 0 10%;
}

.card {
  background-color: white;
  width: 300px;
  height: auto;
  font-size: 25px;
  margin: 20px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  border-radius: 8px;
  flex: 1;
  margin: 5px;
  min-width: calc(33.33% - 10px);
  break-inside: avoid;
}

.card img {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  width: 100%;
}

.card footer {
  border-top: 2px solid rgba(27, 31, 35, 0.15);
}

.card section,
.card footer {
  padding: 20px;
}

.masonry {
  display: flex;
  flex-flow: column wrap;
}

.masonry .card {
  height: fit-content;
}

.cards-layout {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}